body{
    text-align: center;
}
.btn{
    height:50px;
    width:50px;
    border:6px solid black;
    border-radius: 10%;
    margin:2.5rem;
}
.line-one{
    display: flex;
    justify-content: center;
}
.line-two{
    display:flex;
    justify-content: center;
}


.red{
    background-color: #d95980;
}
.yellow{
    background-color: #63aac0;
}
.green{
    background-color: #f99b45;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: white;
}